##############################################################################
# DPS8M Proxy - CODEOWNERS
# Copyright (c) 2025-2026 Jeffrey H. Johnson
# Copyright (c) 2025-2026 The DPS8M Development Team
# SPDX-License-Identifier: MIT
# scspell-id: 77970fc4-bc4b-11f0-b997-80ee73e9b8e7
##############################################################################

* @johnsonjh

##############################################################################
